name: API Unit Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  api-parser-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: python3 -m pip install -r services/api/requirements.txt

      - name: Run API unit tests
        run: make test-api
