name: Terraform Check

on:
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      - run: terraform -chdir=infra/terraform fmt -check
      - run: terraform -chdir=infra/terraform init -backend=false
      - run: terraform -chdir=infra/terraform validate
